button,
input,
textarea {
  font: 1.6rem 'Inter', sans-serif;
}

/* Card */
.card {
  border: 0.1rem solid var(--gray-4);
  border-radius: 0.6rem;
  padding: 2rem 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

/* View page */
.card .card-date {
  font-size: 1.4rem;
  line-height: 2rem;
  color: var(--black-3);
}

/* Add/Edit page */
.card form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card .input {
  display: flex;
  flex-direction: column;
}

.card .input input,
.card .input textarea {
  margin: 0.5rem 0 0 1rem;
  padding: 1rem 0.75rem;

  line-height: 2.4rem;
  color: var(--black-1);

  background-color: var(--white);
  border: 0.1rem solid var(--gray-4);
  border-radius: 0.8rem;

  transition: background-color 0.25s ease-in-out;
}

.card .input input:hover,
.card .input textarea:hover {
  background-color: var(--gray-6);
}

.card .input textarea {
  resize: vertical;
  height: 20rem;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: var(--black-1);
}

.card button {
  background-color: var(--blue-2);
  border: 0.1rem solid var(--blue-2);
  border-radius: 0.4rem;
  font: 600 1.4rem/3.6rem 'Inter', sans-serif;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: fit-content;
  margin: 0.5rem auto 0;
  padding: 0 2rem;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out,
    border-color 0.25s ease-in-out;
}

.card button:hover {
  background-color: var(--blue);
  border-color: var(--blue);
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
/* Firefox precisa de opacity 1 */
.input input::placeholder,
.input textarea::placeholder {
  color: var(--gray-1);
  opacity: 1;
}

/* Internet Explorer 10-11 */
.input input:-ms-input-placeholder,
.input textarea:-ms-input-placeholder {
  color: var(--gray-1);
}

/* Microsoft Edge */
.input input::-ms-input-placeholder,
.input textarea::-ms-input-placeholder {
  color: var(--gray-1);
}

.input label {
  font-size: 1.8rem;
}


/* SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  min-width: 17rem;
}

.sidebar h4 {
  font-weight: 500;
  font-size: 1.8rem;
  color: var(--blue-3);
}

.sidebar-item {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--black-2);
  transition: background-color 0.25s ease-in-out;
}

.sidebar-item:hover {
  background-color: var(--gray-5);
}

.sidebar-item img {
  width: 2.4rem;
  height: 2.4rem;
}



/* Responsividade */
/* 944px */
@media (max-width: 59rem) {
  .sidebar {
    border: 0.1rem solid var(--gray-4);
    border-radius: 0.6rem;
    padding: 2rem 3rem;
    min-width: unset;
  }
}

/* 426px */
@media (max-width: 26.6rem) {

  .card,
  .sidebar,
  .related {
    padding: 1.5rem 1rem;
  }
}